
# Editor directories and files
# Rust (if needed)
# Zola build output
# macOS
**/*.rs.bk
**/mutants.out*/
*.pdb
*.swo
*.swp
*~
.DS_Store
.idea/
.vscode/
.zola/
debug/
extracted_*
logo_*
public/
target/
